.btn {
  font-size: 20px;
  margin: 10px;
  border: 0;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  align-self: center;
}
.add-to-cart {
  background-color: orange;
}
.remove-from-cart {
  background-color: red;
}
.product {
  width: 300px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.product img {
  width: 80%;
}
